{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Validation du devis N° {{ sheetDev.years.years }}/00{{ sheetDev.id }}</h1>

    {{ form_start(edit_form) }}
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <div class="content">
                    <div class="inner">
                        <ul class="icons">
                            <li>Validation :</li>
                            <li class="align-center">
                                {{ form_widget(edit_form.devis) }}
                                {{ form_label(edit_form.devis, 'Validé', {'label_attr': {'for': 'demo-cop'}}) }}
                                {{ form_errors(edit_form.devis) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <input type="submit" value="Devis Validé" class="submit-center"/>

        </section>
    {{ form_end(edit_form) }}

{#    <ul>#}
{#        <li>#}
{#            {{ form_start(delete_form) }}#}
{#                <input type="submit" value="Delete">#}
{#            {{ form_end(delete_form) }}#}
{#        </li>#}
{#    </ul>#}
{% endblock %}
