{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Validation du devis N° {{ sheetDev.years }}D00{{ sheetDev.id }}</h1>

    {{ form_start(edit_form) }}
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <div class="content">
                    <div class="inner">
                        <ul class="icons">
                            <li>Validation :</li>
                            <li class="align-center">
                                {{ form_widget(edit_form.devis) }}
                                {{ form_label(edit_form.devis, 'Validé', {'label_attr': {'for': 'demo-cop'}}) }}
                                {{ form_errors(edit_form.devis) }}
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

        <ul class="icons align-center">
            <li>
                <input type="submit" value="Devis validée" class="submit-center"/>
                {{ form_end(edit_form) }}
            </li>
            <li>
{#                {{ form_start(delete_form) }}#}
{#                  <input type="image" value="Supprimer" class="delete" src="{{ asset('media/images/locals/delete.png') }}">#}
{#                <input type="submit" value="Supprimer" rel="modal:open" class="submit-center delete-word">#}
                <a href="#ex1" rel="modal:open" class="button submit-center delete-word">Supprimer</a>
{#                {{ form_end(delete_form) }}#}
            </li>
        </ul>
{#  MODAL  #}
    <div id="ex1" class="modal">
        <p>Etes vous sure de vouloir supprimer cet élément ?</p>
        <p>!! Vous ne pouvez pas supprimer ce devis tant qu'il est associé
            à un bon de commande et/ou un bon de livraison !!</p>
{#        <p>{{ sheet }}</p>#}
        <ul class="icons ">
            <li><a href="#" rel="modal:close" class="button annulation">Annuler</a></li>
            <li>
                {% if sheets != null %}
                {% else %}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer" class="delete-word">
                    {{ form_end(delete_form) }}
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
{#    <script>#}
{#        $("#ex1").modal({#}
{#            fadeDuration: 1000#}
{#        });#}
{#    </script>#}
{% endblock %}