{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des devis en cours</h1>

    <div class="icons align-center">
        <a href="{{ path('sheetdev_new') }}" class="favorite styled">Générer un devis Excel</a>
    </div>

    <table id="table_id" class="display text">
        <thead>
            <tr>
                <th class="align-center">Devis</th>
                <th class="align-center">Validation</th>
                <th class="align-center">Date</th>
                <th class="align-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sheetDev in sheetDevs %}
            <tr>
                <td class="align-center">{{ sheetDev.society.societyName }}-{{ sheetDev.years }}D00{{ sheetDev.id }}</td>
                <td class="align-center">{% if sheetDev.devis %}Accepté{% else %}{% endif %}</td>
                <td class="align-center">{% if sheetDev.date %}{{ sheetDev.date|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul class="align-center list-type">
                        <li class="">
                            <a href="{{ path('sheetdev_show', { 'id': sheetDev.id }) }}" class="favorite styled">Montrer</a>
                        </li>
                        <li>
                            {% if sheetDev.devis %}
                            {% else %}
                            <a href="{{ path('sheetdev_edit', { 'id': sheetDev.id }) }}" class="favorite styled">Valider</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
