{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Génération d'un devis Excel</h1>

    {{ form_start(form) }}

        <section id="one" class="wrapper style2 spotlights">
            <section>
                <div class="content">
                    <div class="inner">
                        <h2 class="align-center">Génération du devis</h2>
                        <div>
                            <p>Sélectionner la société :</p>
                            {{ form_widget(form.society) }}
                            {{ form_errors(form.society) }}
                        </div>
                        <div class="disp">
                            <p>Année en cours</p>
                            {{ form_widget(form.years) }}
                            {{ form_errors(form.years) }}
                        </div>
                    </div>
                </div>
            </section>

            <input type="submit" value="Générer le document" class="submit-center"/>

        </section>

    {{ form_end(form) }}

{% endblock %}
