{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Génération d'un devis Excel</h1>

    {{ form_start(form) }}

        <section id="one" class="style2">
            <section>
                <div class="content">
                    <div class="inner">
                        <h2 class="align-center">Génération du devis / D000{{ count + 1 }}</h2>
                        <div>
                            <table>
                                {% if count < 100 %}
                                    <tr>
                                        <td>
                                            <input id="hide" type="checkbox" class="filled-in">
                                            <label for="hide" class="dev-label">
                                                Je veux commencer mes devis au dela de / {{ count + 1 }} :</br>
                                                <span class="comment-span">* Attention, ceci va générer
                                            autant de documents dans la base de données et prendra un certain temps.
                                                 !! Je disparais après 100 itérations de documents !!</span>
                                            </label>
                                        </td>
                                        <td><input type="number" name="count" class="upload_file_event"></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>Nombre de pages suplémentaires : </td>
                                    <td><input type="number" name="pages"></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p>Sélectionner la société :</p>
                            {{ form_widget(form.society) }}
                            {{ form_errors(form.society) }}
                        </div>
                        <div class="disp">
                            <p>Année en cours</p>
                            {{ form_widget(form.years) }}
                            {{ form_errors(form.years) }}
                        </div>
                    </div>
                </div>
            </section>

            <input type="submit" value="Générer le document" class="submit-center"/>

        </section>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#hide').click(function () {
            if (this.checked){
                $('.upload_file_event').css('display', 'block')
            }
            else {
                $('.upload_file_event').css('display', 'none')
            }
        })
    </script>
{% endblock %}