{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Génération d'un devis Excel</h1>

    {{ form_start(form) }}

        <section id="one" class="style2">
            <section>
                <div class="content">
                    <div class="inner">
                        <h2 class="align-center">Génération du devis - {{ count + 1 }}</h2>
                        <div>
                            <table>
                                {% if count < 100 %}
                                    <tr>
                                        <td>Je veux commencer mes devis à : </br>
                                        <span class="comment-span">*Attention, ceci va générer
                                            autant de documents</br> dans la base de données
                                            et prendra un certain temps*</span></td>
                                        <td><input type="number" name="count"></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>Nombre de pages suplémentaires : </td>
                                    <td><input type="number" name="pages"></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <p>Sélectionner la société :</p>
                            {{ form_widget(form.society) }}
                            {{ form_errors(form.society) }}
                        </div>
                        <div class="disp">
                            <p>Année en cours</p>
                            {{ form_widget(form.years) }}
                            {{ form_errors(form.years) }}
                        </div>
                    </div>
                </div>
            </section>

            <input type="submit" value="Générer le document" class="submit-center"/>

        </section>

    {{ form_end(form) }}

{% endblock %}