{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ sheetDev.society.societyName }} Devis N° : {{ sheetDev.years }}D00{{ sheetDev.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>D00{{ sheetDev.id }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{% if sheetDev.devis %}Accepté{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sheetDev.date %}{{ sheetDev.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h4 class="align-center">Commandes en cours</h4>
    {% for sheet in sheets %}
        <p class="align-center">-----------------------------------------------------------------------</p>

        <table>
            <tbody>
                <tr>
                    <th>Fournisseur</th>
                    <td>{{ sheet.provider.provider }}</td>
                </tr>
                <tr>
                    <th>Commande N°</th>
                    <td>{{ sheet.years }}/ 00{{ sheet.id }} </td>
                </tr>

            </tbody>
        </table>
    {% endfor %}

    <ul class="icons align-center">
        <li>
            <a href="{{ path('sheetdev_index') }}" class="button">Retour</a>
        </li>
        {% if not sheets %}
        <li>
            {{ form_start(delete_form) }}
            <input type="image" value="Supprimer" class="delete" src="{{ asset('media/images/locals/delete.png') }}">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
