{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sheetdev</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sheetDev.id }}</td>
            </tr>
            <tr>
                <th>Devis</th>
                <td>{% if sheetDev.devis %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sheetDev.date %}{{ sheetDev.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sheetdev_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sheetdev_edit', { 'id': sheetDev.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
