{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Devis N° : {{ sheetDev.years.years }}/00{{ sheetDev.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>/00{{ sheetDev.id }}</td>
            </tr>
            <tr>
                <th>Validation</th>
                <td>{% if sheetDev.devis %}Accepté{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sheetDev.date %}{{ sheetDev.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
        <tr>
            <th>Client</th>
            <td>{{ sheetDev.society.societyName }}</td>
        </tr>
        </tbody>
    </table>

    {% for sheet in sheets %}

        <p>-----------------------------------------------------------------------</p>

        <table>
            <tbody>
                <th>Commande N°</th>
                <td>{{ sheet.years.years }}/ 00{{ sheet.id }}/ </td>
            </tbody>
        </table>
    {% endfor %}

    <ul class="icons align-center">
        <li>
            <a href="{{ path('sheetdev_index') }}">Retour</a>
        </li>
        <li>
            <a href="{{ path('sheetdev_edit', { 'id': sheetDev.id }) }}">Validation</a>
        </li>
{#        <li>#}
{#            {{ form_start(delete_form) }}#}
{#                <input type="submit" value="Suppression">#}
{#            {{ form_end(delete_form) }}#}
{#        </li>#}
    </ul>
{% endblock %}
