{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Links list</h1>

    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Linkname</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td><a href="{{ path('link_show', { 'id': link.id }) }}">{{ link.id }}</a></td>
                <td><a href="{{ asset(link.link) }}" target="_blank">{{ link.linkname }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('link_show', { 'id': link.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
