{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Links list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Linkname</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td><a href="{{ path('link_show', { 'id': link.id }) }}">{{ link.id }}</a></td>
                <td><a href="{{ asset(link.link) }}" target="_blank">{{ link.link }}</a></td>
                <td>{{ link.linkname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('link_show', { 'id': link.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('link_edit', { 'id': link.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
