{% extends 'layout.html.twig' %}

{% block body %}
    <h1>liste des fichiers</h1>

            <table id="table_id" class="display text">
                <thead>
                    <tr>
                        <th class="align-center">Client/Fournisseur</th>
                        <th>Fichiers</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for link in links %}
                    <tr>
                        <td class="align-center">
                            {% if link.sheetdev1 is defined and not link.sheet1 and not link.delivery1 %}
                                {{ link.sheetdev1.society.societyname }}
                            {% elseif link.sheet1 is defined and not link.delivery1 and not link.sheetdev1 %}
                                {{ link.sheet1.provider.provider }}
                            {% elseif link.delivery1 is defined and not link.sheet1 and not link.sheetdev1 %}
                                {{ link.delivery1.sheet.sheetdev.society.societyname }} /
                                {{ link.delivery1.sheet.provider.provider }}
                            {% endif %}
                        </td>
                        <td><a href="{{ asset(link.link) }}" target="_blank">{{ link.linkname }}</a></td>
                        <td>
                            <ul class="icons">
                                <li>
                                    <a href="{{ path('link_show', { 'id': link.id }) }}">Voir le fichier</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
