



<div class="container">


{% trans_default_domain 'FOSUserBundle' %}


    <div class="row">
        <div class="col s12">
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                {{ form_widget(form, { 'attr': {'class': 'input-size'}}) }}
                {#<div>#}
                    {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
                {#</div>#}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn-floating btn-large waves-effect waves-light green darken-1 tooltipped"
                    type="submit"
                    id="_submit"
                    name="_submit"
                    value="{{ 'profile.edit.submit'|trans }}"
                    data-position="bottom"
                    data-delay="50"
                    data-tooltip="Enregistrer">
                <i class="material-icons">check</i>
            </button>
        </div>
    </div>
            {{ form_end(form) }}


</div>

