<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-all.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascripts %}
{#            <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>#}
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
            <script src="{{ asset('assets/js/browser.min.js') }}"></script>
            <script src="{{ asset('assets/js/breakpoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/util.js') }}"></script>
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
