{% extends 'base.html.twig' %}

{% block header %}
    <div>
        <ul>
            <li><a href="{{ path('homepage') }}">accueil</a></li>
            <li><a href="{{ path('society_index') }}">Sociétés</a></li>
            <li><a href="{{ path('contact_index') }}">Contacts</a></li>
            <li><a href="{{ path('sheet_new') }}">creation facture</a></li>
{#            {% if is_granted('ROLE_ADMIN') %}#}
{#                <li><a href="{{ path('homeadmin') }}">administrateur</a></li>#}
{#                <li><a href="{{ path('fos_user_security_logout') }}" class="buttonDisconnect">Déconnexion</a></li>#}
{#            {% endif %}#}
        </ul>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}