{% extends 'base.html.twig' %}

{% block header %}

    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li class="li-nav li-border"><a href="{{ path('homepage') }}" class="a-nav a-transition">accueil</a></li>
                    <li class="li-nav li-border"><a href="{{ path('sheetdev_new') }}" class="a-nav a-transition">creation devis</a></li>
                    <li class="li-nav li-border"><a href="{{ path('sheet_new') }}" class="a-nav a-transition">creation facture</a></li>
                    <li class="li-nav li-border"><a href="{{ path('society_index') }}" class="a-nav a-transition">Sociétés</a></li>
                    <li class="li-nav li-border"><a href="{{ path('contact_index') }}" class="a-nav a-transition">Contacts</a></li>
                    <li class="li-nav li-border"><a href="{{ path('link_index') }}" class="a-nav a-transition">Liste des fichiers</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

{% endblock %}

{% block footer %}

    </div>

    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
        <div class="inner">
            <ul class="menu">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            </ul>
        </div>
    </footer>

    <!-- Scripts -->

{% endblock %}