{% extends 'base.html.twig' %}

{% block login %}

        <h3>Enregistrer un utilisateur</h3>

{% trans_default_domain 'FOSUserBundle' %}

<section id="one" class="wrapper style2 spotlights">
    <section>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="size">
            <div class="left size-in">
                <label for="username">nom d'utilisateur</label>
                {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                {{ form_widget(form.username, { 'attr': {'class': 'input-size'}}) }}

                <label for="username">E-mail</label>
                {{ form_widget(form.email, { 'attr': {'class': 'input-size'}}) }}
            </div>
            <div class="right size-in">
                {{ form_widget(form.plainPassword, { 'attr': {'class': 'input-size'}}) }}
            </div>
        </div>
        <div class="align-center">
            <button class=""
                    type="submit"
                    id="_submit"
                    name="_submit"
                    value="{{ 'registration.submit'|trans }}"
                    data-delay="50"
                    data-tooltip="Enregistrer">
                <i class="material-icons">Enregistrer</i>
            </button>
        </div>
        {{ form_end(form) }}
    </section>
</section>

{% endblock %}
