{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ provider.provider }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provider.id }}</td>
            </tr>
            <tr>
                <th>Fournisseur</th>
                <td>{{ provider.provider }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ provider.code }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ provider.contact }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="icons align-center">
        <li>
            <a href="{{ path('provider_index') }}" class="button">Retour</a>
        </li>
        <li>
            <a href="{{ path('provider_edit', { 'id': provider.id }) }}" class="button">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="image" value="Supprimer" class="delete" src="{{ asset('media/images/locals/delete.png') }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
