{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Validation de la livraison N° {{ delivery.years }}BL00{{ delivery.id }}</h1>

    {{ form_start(edit_form) }}
    <section id="one" class="wrapper style2 spotlights">
        <section>
            <div class="content">
                <div class="inner">
                    <ul class="icons">
                        <li>Commande effectué :</li>
                        <li>
                            {{ form_widget(edit_form.delivery) }}
                            {{ form_label(edit_form.delivery, 'Validée', {'label_attr': {'for': 'demo-cop'}}) }}
                            {{ form_errors(edit_form.delivery) }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    <ul class="icons align-center">
        <li>
            <input type="submit" value="Livraison validée" class="submit-center"/>
            {{ form_end(edit_form) }}
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="image" value="Supprimer" class="delete" src="{{ asset('media/images/locals/delete.png') }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
