{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Validation de la commande N° {{ sheet.years }}/00{{ sheet.id }}</h1>

    {{ form_start(edit_form) }}

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
        <section>
            <div class="content">
                <div class="inner">
                    <ul class="icons">
                        <li>Commande effectué :</li>
                        <li>
                            {{ form_widget(edit_form.facture) }}
                            {{ form_label(edit_form.facture, 'Validée', {'label_attr': {'for': 'demo-cop'}}) }}
                            {{ form_errors(edit_form.facture) }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

        <ul class="icons align-center">
            <li>
                <input type="submit" value="Commande validée" class="submit-center"/>
                {{ form_end(edit_form) }}
            </li>
            <li>
                {#                {{ form_start(delete_form) }}#}
                {#                  <input type="image" value="Supprimer" class="delete" src="{{ asset('media/images/locals/delete.png') }}">#}
                {#                <input type="submit" value="Supprimer" rel="modal:open" class="submit-center delete-word">#}
                <a href="#ex1" rel="modal:open" class="button submit-center delete-word">Supprimer</a>
                {#                {{ form_end(delete_form) }}#}
            </li>
        </ul>
    {#  MODAL  #}
    <div id="ex1" class="modal">
        <p>Etes vous sure de vouloir supprimer cet élément ?</p>
        <ul class="icons ">
            <li><a href="#" rel="modal:close" class="button annulation">Annuler</a></li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="delete-word">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    {#    <script>#}
    {#        $("#ex1").modal({#}
    {#            fadeDuration: 1000#}
    {#        });#}
    {#    </script>#}
{% endblock %}