{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Validation de la commande N° {{ sheet.years }}/00{{ sheet.id }}</h1>

    {{ form_start(edit_form) }}

    <!-- One -->
    <section id="one" class="wrapper style2 spotlights">
        <section>
            <div class="content">
                <div class="inner">
                    <ul class="icons">
                        <li>Commande effectué :</li>
                        <li>
                            {{ form_widget(edit_form.facture) }}
                            {{ form_label(edit_form.facture, 'Validée', {'label_attr': {'for': 'demo-cop'}}) }}
                            {{ form_errors(edit_form.facture) }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <input type="submit" value="Commande validée" class="submit-center"/>

    </section>

    {{ form_end(edit_form) }}

{% endblock %}




















{#{% extends 'layout.html.twig' %}#}

{#{% block body %}#}
{#    <h1>Sheet edit</h1>#}

{#    {{ form_start(edit_form) }}#}
{#        {{ form_widget(edit_form) }}#}
{#        <input type="submit" value="Edit" />#}
{#    {{ form_end(edit_form) }}#}

{#    <ul>#}
{#        <li>#}
{#            <a href="{{ path('sheet_index') }}">Back to the list</a>#}
{#        </li>#}
{#        <li>#}
{#            {{ form_start(delete_form) }}#}
{#                <input type="submit" value="Delete">#}
{#            {{ form_end(delete_form) }}#}
{#        </li>#}
{#    </ul>#}
{#{% endblock %}#}
