{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des commandes en cours</h1>

    <div class="icons align-center">
        <a href="{{ path('sheet_new') }}" class="favorite styled">Générer un bon de commande Excel</a>
    </div>

    <table id="table_id" class="display text">
        <thead>
        <tr>
            <th class="align-center">Commande</th>
            <th class="align-center">Client</th>
            <th class="align-center">Validation</th>
            <th class="align-center">Date</th>
            <th class="align-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sheet in sheets %}
            <tr>
                <td class="align-center">
                    {{ sheet.provider }}-{{ sheet.years }}/00{{ sheet.id }}</td>
                <td class="align-center">{{ sheet.sheetdev.society.societyName }}-{{ sheet.sheetdev.years }}D00{{ sheet.sheetdev.id }}</td>
                <td class="align-center">{% if sheet.facture %}Commandée{% else %}{% endif %}</td>
                <td class="align-center">{% if sheet.date %}{{ sheet.date|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul class="align-center list-type">
                        <li>
                            {% if sheet.facture %}
                            {% else %}
                            <a href="{{ path('sheet_edit', { 'id': sheet.id }) }}" class="favorite styled">Valider/supprimer</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
