{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Liste des commandes en cours</h1>

    <div class="icons align-center">
        <a href="{{ path('sheet_new') }}" class="favorite styled">Générer une commande Excel</a>
    </div>
    <table id="table_id" class="display text">
        <thead>
        <tr>
            <th class="align-center">Commande</th>
            <th class="align-center">Validation</th>
            <th class="align-center">Date</th>
            <th class="align-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sheet in sheets %}
            <tr>
                <td class="align-center">{{ sheet.provider.provider }}-{{ sheetDev.years }}/00{{ sheetDev.id }}</td>
                <td class="align-center">{% if sheet.devis %}Commadé{% else %}{% endif %}</td>
                <td class="align-center">{% if sheet.date %}{{ sheetDev.date|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul class="align-center list-type">
                        <li class="">
                            <a href="{{ path('sheetdev_show', { 'id': sheet.id }) }}" class="favorite styled">Montrer</a>
                        </li>
                        <li>
                            <a href="{{ path('sheetdev_edit', { 'id': sheet.id }) }}" class="favorite styled">Valider</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
    </script>
{% endblock %}
