{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Génération d'une facture Excel</h1>

    {{ form_start(form) }}

        <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <div class="content">
                    <div class="inner">
                        <h2>Génération de la facture</h2>
                        <div>
                            <p>Sélectionner le fournisseur :</p>
                            {{ form_widget(form.provider) }}
                            {{ form_errors(form.provider) }}
                        </div>
                        <div>
                            <p>Sélectionner le devis associé :</p>
                            {{ form_widget(form.sheetdev) }}
                            {{ form_errors(form.sheetdev) }}
                        </div>
                    </div>
                </div>
            </section>

            <input type="submit" value="Générer le document" class="submit-center"/>

        </section>

    {{ form_end(form) }}

{% endblock %}
