{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Societyname</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for society in societies %}
            <tr>
                <td><a href="{{ path('society_show', { 'id': society.id }) }}">{{ society.id }}</a></td>
                <td>{{ society.societyName }}</td>
                <td>{{ society.address }}</td>
                <td>{{ society.zipcode }}</td>
                <td>{{ society.city }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('society_show', { 'id': society.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('society_edit', { 'id': society.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('society_new') }}">Create a new society</a>
        </li>
    </ul>
{% endblock %}
