{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ society.societyName}}</h1>

    <table>
        <tbody>
            <tr>
                <th>Contact</th>
                <td>{{ society.contact }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ society.address }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ society.zipcode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ society.city }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="icons align-center">
        <li>
            <a href="{{ path('society_index') }}" class="button">Retour</a>
        </li>
        <li>
            <a href="{{ path('society_edit', { 'id': society.id }) }}" class="button">Modifier</a>
        </li>
    </ul>
{% endblock %}
